<!-- <link href="/resources/styles.css" rel="stylesheet" type="text/css" />
<img src="/resources/node.png" /> -->

<!DOCTYPE html>
<html>
  <head>
    <link href="/resources/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
  <img src="/resources/node.png" />
  </body>
</html>
