<!DOCTYPE html>
<html>
  <head>
    <link href="/resources/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
  <table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Degree</th>
    <th>Program</th>
  </tr>
  <tr>
    <td><%= student.firstName %></td>
    <td><%= student.lastName %></td>
    <td><%= student.degree %></td>
    <td><%= student.program %></td>
  </tr>
</table>
<% include image.ejs %>
  </body>
</html>
